.code-container{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    width: 30%;
    height: 30vh;
    padding: 2em;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    background-color: white;
    margin-right: 2em;
}

.list-heading {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.list-value-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.head1 {
    margin-right: 200px;
}

.container-background {
    background-color: #eff0f3;
    height: 100%;
}

.container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.generate-but {
    background: #007074;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 3px;
    color: #ffff;
    border: none;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.generate-but:hover {
    cursor: pointer;
    background-color: #0d9a3c;
    box-shadow: 0 0 0 2px rgb(167, 188, 164);
}