.topup-container{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    width: 30%;
    height: 30vh;
    padding: 2em;
    align-items: baseline;
    justify-content: space-around;
    border-radius: 6px;
    background-color: white;
}

.topup-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.background {
    background-color: #eff0f3;
    height: 100%;
}

.topup-input-detail {
    width: 100%;
}

.topup-input {
    width: 60%;
    margin-right: 0.8em;
}



.topup-but {
    background: #007074;
    font-size: 14px;
    font-weight: 500;
    padding: 0.2em;
    border-radius: 3px;
    color: #ffff;
    border: none;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.topup-but:hover {
    cursor: pointer;
    background-color: #0d9a3c;
    box-shadow: 0 0 0 2px rgb(167, 188, 164);
}

.recharge-but {
    background: #007074;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 3px;
    color: #ffff;
    border: none;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.recharge-but:hover {
    cursor: pointer;
    background-color: #0d9a3c;
    box-shadow: 0 0 0 2px rgb(167, 188, 164);
}