.scrolable {
    width: 100%;
    display: flex;
    justify-content: center;
    
   
}

.scrollable-outer{
    background-color: #eff0f3;
    height: 100%;
}

.all-bill-container {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgb(79, 161, 189);
    border: 3px solid grey;
    border-radius: 6px;
    height: 100%;
    width: 100%
}

.customer-details {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(248, 217, 217);
    color: white;
    margin-top: 0.4em;
}


.customer-readings {
    border-bottom: 3px solid rgb(248, 217, 217);
}

.customer-reading-details {
    display: flex;
    justify-content: baseline;
    font-size: 1.2rem;
    border-bottom: 2px solid rgb(248, 217, 217);
    color: rgb(26, 27, 29);
}

.reading-data {
    border-right: 2px solid rgb(248, 217, 217);
}